doctype html
html
    head
        title= name
    body
        h1 Success!
        h3 Thanks for signing in
        br
        img(src='https://i.pinimg.com/originals/75/bd/f0/75bdf06df3fd6ddd9d3311d8cb2be029.jpg')